export const API_URL = "http://85.193.82.165:8800/";
export const WS_URL = "ws://85.193.82.165:8800/";
export const WS_VIDEO_URL = "wss://escape-iq.com/videocall";
export const RADIO_SERVER_URL = "http://85.193.82.165:5001";


export const TURN_SERV=      {
 urls: 'turn:relay1.expressturn.com:3478',
 username: 'efIT2SWBHKFON8J7FE',
 credential: 'EUqt0aQH1S4ELdqV'
}